
#intro {
  border: #582f0e 5px solid;
  background-color: #333d29;
  opacity: 0.9;
  display: inline-block;
  padding: 0;
}

table {
  opacity: 0.9;
  border-collapse: collapse;
  width: 100%;
  color: #c2c5aa;
}

td,
th {
  border: #582f0e 5px solid;
}

#tableHeader {
  background-color: #333d29;
}

/* Different author rows. Different backgrounds/text colors to differentiate. */
#cal {
  background-color: #414833;
  color: #b6ad90;
  font-weight: bolder;
}

#michio {
  background-color: #656d4a;
  color: #b6ad90;
  font-weight: bolder;
}

#peter {
  background-color: #a4ac86;
  color: #582f0e;
  font-weight: bolder;
}

/* Using just the Author rows to have Transitions so users can better view their relavant info*/
#cal,
#michio,
#peter {
  transition-property: background-color, color;
  transition-duration: 2s;
}

#cal:hover,
#michio:hover,
#peter:hover {
  background-color: rgb(202, 240, 248);
  color: rgb(3, 4, 94);
}
